<% provide(:title, 'About') %>
<h1>About</h1>
<style>
   
  text-center div{
    width:800px; text-align: center;
  }
  text-center p{
    
    text-align:center; 
  }
  
</style>
<body>
  <div class = "center">
    
<p>In this website you can have an amino acid sequence display codon seqence possibilites.</p>
<p>For any questions please visit the help page in the top right corner</p>
<p>This website was designed by a student at DePauw Univeristy as a senior project. It was
  coded and developed by a Computer Science and Biology double major who was inspired to combine
  both of his fields</p>
   </div>