<% provide(:title, 'Contact') %>
<h1>Contact Info</h1>

<style>
  
p.ex {
    height: 100px;
    width: 1000px;
   text-align: center;
 }  
  
p{ 
      display: table;
      margin:auto;
     
}
</style>

<body>
  
  <p class="ex">If there are any problems or issuses to report with the page, formatting, errors or questions
    the help page could not answer please email alexanderspears_2015@depauw.edu </p>
 
 </body>