<% provide(:title, 'Help') %>
<h1>Help</h1>

<style>
p.ex {
    height: 100px;
    width: 1000px;
   text-align: center;
 }  
  
p{ 
      display: table;
      margin:auto;
}
</style>

<body>
   <div class = "center">
    <b><i>What is CodonCoder?</i></b>
    <br>
        It is a website where amino acids are uploaded and a graphic display of your matching codon possibilites will be displayed.<br>
    <br>
      <b><i>How does CodonCoder work?</i></b>
    <br>
      CodonCoder uses database matching to pattern match your inputted sequences to a database of matched codons ensuring consistent outputted                 results.
    <br>
     <br>
     <b>The following video conceptualizes codon sequencing by hand</b>
     <br>
      <br>  
         If you need additional help visit the contact page.
      <br>
    <br>
  
  </p>  
  </div>
</body>

<body>
  <div class="center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Z4wZxraE59o" frameborder="0" allowfullscreen></iframe>
  </div>

</body> 
